<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bunifu.UI.WinForms" version="5.0.3" targetFramework="net45" />
  <package id="GumroadLicensing" version="1.0.3" targetFramework="net472" />
  <package id="Kimtoo.BindingProvider" version="1.2.7" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net472" />
</packages>